


body{

margin:0;
padding:0;
font-size:'Roboto', sans-serif;
}
/*--------menue-background-------------------*/
.menue{
position: fixed;
z-index: 1;
background:	#12260ce5;
padding:35px;
width: 100%;

}

.menue2{
  position: fixed;
  z-index: 1;
  background:	#12260ce5;
  padding: 53px;
  width: 100%;
  
  }


.menue  nav{

  text-align: center;
  text-indent: 40%;
}

.menue  nav  ul li {

list-style: none;
display: inline;
margin: 20px;
font-size: 15px;
text-align: center;
cursor: pointer;

}

.menue a{

  text-decoration: none ;
  color: white;
  cursor: pointer;

}

.menue  a:hover{
top: 0;
color: #d5b385;
cursor: pointer;
}

.blog-active{
  top: 0;
color:#DEB887;
}

.logo{
position: fixed;
bottom:90%;
right:1100px;
cursor: pointer;


}

.sec1 .video{
z-index: 1;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.10);

}

/*--------carte1-------------------*/

.cart1{
height:255px;
width:215px ;
background:#AE7749 ;
position: absolute;
bottom:61%;
right:1160px;


}

/*--------carte1--photo-----------------*/
.cart1 .profile{
position: absolute;
bottom: -50%;
right: -125px;
border-radius: 100px;
}

/*--------social-----------------*/

.sec2 .social{

height: 240px;
width:65px;
background:#AE7749;
position: fixed;
bottom: 30%;
right: 1px;
z-index: 1;

}


.facebook :hover{
background: cornflowerblue;
}

/*--------carte2-----------------*/
.carte2   .sélectionnée{

height:400px ;
width:950px ;
background: #12260ce5 ;
position: absolute;
bottom: -19%;
right: 420px;


/*--------carte3-----------------*/

}


.carte3   .sélectionné{

  height:400px ;
  width:950px ;
  background: #12260ce5 ;
  position: absolute;
  bottom: -19.85%;
  right: 420px;
 
  
}

.image1{

  position: absolute;
  bottom: 8%;
  right: 489px;
font-family: 'Playfair Display', serif;
}

.sec2 .ligne{
height: 1px;
width: 370px;
background: gray;
position:absolute;
bottom: -12%;
right: 473px;
 color: white;
 font: size 17px;
}

