@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');


body{

margin:0;
padding:0;
font-size:'Roboto', sans-serif;
}
/*--------menue-background-------------------*/
.menue{
position: fixed;
z-index: 1;
background:#303a30;
padding:35px;
width: 100%;

}

.menue2{
  position: fixed;
  z-index: 1;
  background:#303a30;
  padding: 53px;
  width: 100%;
  
  }


.menue  nav{

  text-align: center;
  text-indent: 40%;
}

.menue  nav  ul li {
list-style: none;
display: inline;
margin: 20px;
font-size: 15px;
text-align: center;
cursor: pointer;

}

.menue a{

  text-decoration: none ;
  color: white;
  cursor: pointer;

}

.menue  a:hover{
top: 0;
color: #d5b385;
cursor: pointer;
}

.blog-active{
  top: 0;
color:#DEB887;
}

.logo{
position: fixed;
bottom:90%;
right:1100px;
cursor: pointer;


}

.sec1 .video{
z-index: 1;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.10);

}

/*--------carte1-------------------*/

.cart1{
height:255px;
width:215px ;
background:#AE7749 ;
position: absolute;
bottom:61%;
right:1160px;


}

/*--------carte1--photo-----------------*/
.cart1 .profile{
position: absolute;
bottom: -50%;
right: -125px;
border-radius: 100px;
}

/*--------social-----------------*/

.sec2 .social{

height: 240px;
width:65px;
background:#AE7749;
position: fixed;
bottom: 30%;
right: 1px;
z-index: 1;

}


.facebook :hover{
background: cornflowerblue;
}

/*--------carte2-----------------*/
.carte2   .sélectionnée{

height:400px ;
width:950px ;
background: #303a30 ;
position: absolute;
bottom: -19%;
right: 420px;



/*--------carte3-----------------*/

}


.carte3   .sélectionné{

  height:400px ;
  width:950px ;
  background: #343f34 ;
  position: absolute;
  bottom: -19.85%;
  right: 420px;
 
  
}

.image1{

  position: absolute;
  bottom: 8%;
  right: 489px;
font-family: 'Playfair Display', serif;
}

.sec2 .ligne{
height: 1px;
width: 370px;
background: 	gray;
position:absolute;
bottom: -12%;
right: 473px;
 color: white;
 font: size 17px;
}

/*-----------deux--carte--gouche----------------------*/
.section1 .gog{

height: 315px;
width: 295px;
background: white;
position: absolute;
bottom:-65% ;
right: 1075px;
border:0.5px solid	#D8D8D8;

}

.section6 .gog5{

  height: 315px;
  width: 295px;
  background: white;
  position: absolute;
  bottom:-101% ;
  right: 1075px;
  border:0.5px solid	#D8D8D8;
  
  }

/*-----------deux--carte--milieu----------------------*/
.section2 .gog1{

  height: 315px;
  width: 295px;
  background: white;
  position: absolute;
  bottom:-65% ;
  right: 750px;
  border:0.5px solid	#D8D8D8;
  
  }

  .section5 .gog4{

    height: 315px;
    width: 295px;
    background: white;
    position: absolute;
    bottom:-101% ;
    right: 750px;
    border:0.5px solid	#D8D8D8;
    
    }


/*-----------deux-carte-droite------------------------*/
  .section3 .gog2{

    height: 315px;
    width: 295px;
    background: white;
    position: absolute;
    bottom:-65% ;
    right: 425px;
    border:0.5px solid	#D8D8D8;
    
    }



    .section4 .gog3{

      height: 315px;
      width: 295px;
      background: white;
      position: absolute;
      bottom:-101% ;
      right: 425px;
      border:0.5px solid	#D8D8D8;
      
    }

    h3{

      position: absolute;
      bottom: -265px;
      right: 1150px;
      font-size: 19px;
      color: 	#484848;
      }

      .ligne1{
         height: 1px;
        width: 220px;
        background:#B8B8B8;
         position: absolute;
         bottom: -61%;
         right: 1113px;
      }

      .ligne2{
        height: 1px;
       width: 220px;
       background:#B8B8B8;
        position: relative;
        bottom: -89%;
        right: -40px;
     }

     .ligne3{
      height: 1px;
     width: 220px;
     background:#B8B8B8;
      position: relative;
      bottom: -89%;
      right: -40px;
   }

   .ligne4{
    height: 1px;
   width: 220px;
   background:#B8B8B8;
    position: relative;
    bottom: -90%;
    right: -35px;
 }

 .ligne5{
  height: 1px;
 width: 220px;
 background:#B8B8B8;
  position: relative;
  bottom: -90%;
  right: -30px;
}

.ligne6{
  height: 1px;
 width: 220px;
 background:#B8B8B8;
  position: relative;
  bottom: -90%;
  right: -28px;
}




.footer{

  height:410px;
  width: 1900px;
  background:#303a30;
  position: absolute;
  bottom:-160%;
}

.footer .logo2{
position: absolute;
right:1095px ;
 bottom: 285px;
}

.footer  .maison-footer{

  position: absolute;
  right:950px;
   bottom: 100px;

}


.footer .mail{
 right:450px ;
  bottom: 200px;
  position: absolute;
  padding: 13px;
  border: 1px solid red;
   width: 370px;
}

.footer .button{

  position: absolute;
  right:450px ;
   bottom: 120px;
   padding: 13px;
   width: 135px;
   background:#AE7749;
   color: rgb(197, 194, 194);

}

.button:hover{

background: white;

}

.footer .Copy{

  position: absolute;
  right:750px ;
   bottom:35px;
   color: rgb(197, 194, 194);
}

.footer  .abonnez{
  right:500px ;
  bottom: 285px;
  position: absolute;
  color: rgb(197, 194, 194);

}

/*-------------------------------------*/

.like__btn{

  background: #0080ff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    position: absolute;
    bottom: 40%;
    right: 100px; 
  }


  .like{
    color:gray;
    font-size: 1em;
    cursor:pointer;
    position: absolute;
    bottom: -602px;
    right: 445px;
  }

  .aime{
    color:gray;
    font-size: 1em;
    cursor:pointer;
    position: absolute;
    bottom: -602px;
    right: 765px;
  }

  .lick{
    color:gray;
    font-size: 1em;
    cursor:pointer;
    position: absolute;
    bottom: -602px;
    right: 1100px;
  }

  .likin{
    color:gray;
    font-size: 1em;
    cursor:pointer;
    position: absolute;
    bottom: -940px;
    right: 1112px;
  }

  .liking{
    color:gray;
    font-size: 1em;
    cursor:pointer;
    position: absolute;
    bottom: -940px;
    right: 785px;
  }


 .doding{
    color:gray;
    font-size: 1em;
    cursor:pointer;
    position: absolute;
    bottom: -940px;
    right: 450px;
  }


  .section3  .like{
    color: rgb(160,160,160);
  }


 









